<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>regions</title>
</head>
<body>
	<p>
		<a href="/reviews">
			<button type="submit">Ritorna alla pagina recensioni</button>
		</a>
	</p>
	<p>Restaurants in table</p>

	<form method="post" action="/modReviews">
		<div>
			<label for="reviewId">REVIEW_ID:</label> <input type="text" id="reviewId"
				name="reviewId" th:value="${reviews.reviewId}" readonly>
		</div>
		<div>
			<label for="restaurantId">RESTAURANT_ID:</label> <input type="text" id="restaurantId"
				name="restaurantId" th:value="${reviews.id}" readonly>
		</div>
		<div>
			<label for="userId">USER_ID:</label> <input type="text" id="userId"
				name="userId" th:value="${reviews.userId}" readonly>
		</div>
		<div>
			<label for="review">REVIEW:</label> <input type="text" id="review"
				name="review" th:value="${reviews.review}">
		</div>
		<div>
			<label for="vote">VOTE:</label> <input type="text"
				id="vote" name="vote"
				th:value="${reviews.vote}">
		</div>
		<div>
			<label for="miPiace">LIKES:</label> <input type="text"
				id="miPiace" name="miPiace" th:value="${reviews.miPiace}">
		</div>
		<div>
			<label for="nonMiPiace">UNLIKES:</label> <input type="text"
				id="nonMiPiace" name="nonMiPiace"
				th:value="${reviews.nonMiPiace}">
		</div>
		<div>
			<button type="submit">Conferma</button>
		</div>
	</form>
</body>
</html>






































