<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">

<title>Restaurants</title>
</head>
<body>
	<p>
		Restaurants as string: <span th:text=" ${restaurants}">[]</span>
	</p>
	<p>Restaurants in table</p>
	<table>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>ADDRESS</th>
			<th>PLACE</th>
			<th>TYPE OF CUCINA</th>
			<th>FEEDBACK</th>
			<th>PRICE RANGE</th>
		</tr>
		<tr th:each="cur: ${restaurants}">
		<!-- al posto di regions ci va il nome del return del controller java -->
			<td>
				<a th:href = "@{/rest/mod(id=${cur.id})}">
					<button type="submit">Modifica</button>
				</a>
			</td>
			<td th:text="${cur.id}">1</td>
			<td th:text="${cur.name}">2</td>
			<td th:text="${cur.address}">3</td>
			<td th:text="${cur.place}">4</td>
			<td th:text="${cur.typeOfCucina}">5</td>
			<td th:text="${cur.feedback}">6</td>
			<td th:text="${cur.priceRange}">7</td>
		</tr>
	</table>
</body>
</html>