<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,
shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<title>Users</title>
</head>
<body>
	<p>
		<a href="/newUser.html">
			<button type="submit">Nuovo Utente</button>
		</a>
	</p>
	<p>
		<a href="/index.html">
			<button type="submit">Ritorna alla home</button>
		</a>
	</p>

	<table class="table table-hover table-bordered">
		<tr>
			<th>AZIONI</th>
			<th>USER_ID</th>
			<th>FIRST_NAME</th>
			<th>LAST_NAME</th>
			<th>RELIABILITY</th>
			<th>REVIEWS</th>
		</tr>
		<tr th:each="cur: ${users}">
			<!-- RICORDA DI CONTROLLARE IL NOME DI MODEL -->
			<!-- al posto di regions ci va il nome del return del controller java -->
			<td><a th:href="@{/user/mod(userId=${cur.userId})}">
					<button type="submit">Modifica</button>
			</a> <a th:href="@{/user/canc(userId=${cur.userId})}">
					<button type="submit">Cancella</button>
			</a></td>
			<td th:text="${cur.userId}">1</td>
			<td th:text="${cur.firstName}">2</td>
			<td th:text="${cur.lastName}">3</td>
			<td th:text="${cur.reliability}">4</td>
			<td th:text="${cur.reviews}">5</td>
	</table>
<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
			<div class="col"></div>
			<div class="col"><img src="img\Cattura2.JPG" class="img-fluid" width=28%></div>
			<div class="col"></div>
</body>
</html>